@font-face {
    font-family: "Chocolates";
    src: url('../fonts/TT-Chocolates-Educational-Bold.otf');
    font-weight: 600;
}
@font-face {
    font-family: "Chocolates";
    src: url('../fonts/TTChocolatesEducationalRegular.otf');
    font-weight: 400;
}

section {
    width: 100%;
    margin: 0 auto;
    // max-width: 1920px;
    
}

html,
body {
  width: 100%;
  min-height: 100%;
  height: 1px;
  min-width: 320px;
}
body {
  overflow-x: hidden;
  font-family: "Chocolates", Arial, Helvetica, sans-serif;
  text-wrap: balance;
  font-weight: 300;
  
}

button {
  cursor: pointer;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
//   align-items: center;
}

a {
  text-decoration: none;
  color: white;
  display: block;
}

.container {
  margin: 0 auto;
  height: 100%;
  max-width: 2219px;
  padding: 0 5.5vw;
}

.section-first {
    width: 100%;
    display: flex;
    // flex-wrap: wrap;
    &-img {
        width: 70%;
        height: auto;
    }
    .first__right {
        padding: 81px 44px 12px 47px;
        &-logo {
            width: 100%;
        }
    }

    .logo-text {
        font-size: clamp(1rem, 1.56vw, 1.875rem);
        font-weight: 500;
        color: #E72291;
    }

    .first__right-text {
        font-size: clamp(1rem, 3.13vw, 3.75rem);
        font-weight: 600;
        color: #015242;
    }
}


.section-two {
    min-height: 783px;
  
    display: flex;
    position: relative;
    .text {
        padding: 171px 0 0 64px ;
        max-width: 1196px;
        color: #015242;
    }
    .heading {
        font-size: clamp(1rem,4.17vw, 5rem);
        font-weight: 600;
        margin-bottom: 33px;
    }
    .p {
        font-size: clamp(1rem,1.35vw, 1.625rem);

    }

    .circle {
        position: absolute;
        top: 0;
        right: -80px;
    }
    
}

.section-three {
    margin-bottom: 37px;
    width: 100%;
    display: flex;
    .right {
        display: flex;
        flex-direction: column;
    }

    .women {
        height: auto;
        max-width: 532px;
    }
    .text {
        display: flex;
        color: #015242;
        padding-left: 32px;
        gap: 60px;
    }
    .heading {
        max-width: 489px;
        font-size: clamp(1rem,4.17vw, 5rem);
        font-weight: 600;
    }
    .p {
        font-size: clamp(1rem,1.35vw, 1.625rem);
        max-width: 497px;
        font-weight: 600;
    }
    
}

.section-four {
    display: flex;
    .forest {
        width: 70%;
    }
    .text {
        display: flex;
        color: #015242;
        padding-left: 79px;
        gap: 60px;
        flex-direction: column;
    }
    .heading {
        font-size: clamp(1rem,4.17vw, 5rem);
        font-weight: 600;
        max-width: 387px;

    }
    .p {
        font-size: clamp(1rem,1.35vw, 1.625rem);
        max-width: 393px;
        font-weight: 600;
    }
    
}


.section-five {
    width: 100%;
    display: flex;
    position: relative;

    min-height: 960px;
    // overflow-x: hidden;
    .text {
        width: 100%;
        color: #015242;
        display: flex;
        flex-direction: column;
        padding-top: 142px;
        padding-left: 78px;
        gap: 112px;  color: #015242;
    }
    .heading {
        font-size: clamp(1rem,4.17vw, 5rem);
        font-weight: 600;
        max-width: 778px;
    }
    .p {
        font-size: clamp(1rem,1.35vw, 1.625rem);
        max-width: 809px;
        font-weight: 600;
    }

    .circles {
        width: 61%;
        max-width: 1161px;
        position: absolute;
        top: 0;
        right: -142px;

    }
}

